<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <h1>Welcome, <%= user.username %></h1>
    <p>High Score: <%= user.highScore %></p>
    <div style="text-align: center;">
        <a class="butt" href="/trivia">Trivia</a><br><br>
        <a class="butt" href="/leaderboard">Leaderboard</a><br><br>
        <a class="butt" href="/logout">Logout</a>
    </div>
</body>
</html>
