<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
</head>
<body>
    <h1>Leaderboard</h1>
    <table>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>High Score</th>
        </tr>
        <% leaderboard.forEach(function(user, index) { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= user.username %></td>
                <td><%= user.highScore %></td>
            </tr>
        <% }); %>
    </table>
    <a href="/dashboard">Go Back</a>
</body>
</html>
