<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <img id="image" src="/public/brain2.webp" alt="Trivia Game Image">
    <h1>Welcome Back</h1>
    <form action="/login" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>

        <button class="butt" type="submit">Login</button>
    </form>
</body>
</html>
