<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <img id="image" src="/public/brain2.webp" alt="Trivia Game Image">
    <h1>Create Your Account</h1>
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" value="Username" required><br><br>

        <label for="email">Email:</label>
        <input type="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>

        <div class="butt-container">
            <button class="butt" type="submit">Register</button>
        </div>
    </form>
</body>
</html>
